@import "bitters/bitters";

@mixin awesomebutton($size:1, $color:$lightblue, $textcolor: #fff, $padding:1){
  display: block;
  border: none;
  border-radius:5px;
  color: $textcolor;
  background-color: $color;
  box-shadow: 0 0.375em*$size darken($color, 20%); 
  cursor: pointer;
  padding: 1.565em*$size 1.5em*$size;
  display: inline-block;
  margin: 0.5em*$size auto;
  
  text-decoration: none;
  text-align:center;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  &:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  }
  &:hover {
  	box-shadow: 0 0.5em*$size darken($color, 20%);
	color: $textcolor;
	top: -0.125em*$size;
  }
  &:visited {
	color: $textcolor;
  }
  &:active{
  	box-shadow: 0 0 darken($color, 20%);
  	top: 0.375em*$size;
  }
}
.image-gradient-dynamic {
  $image-gradient-color-top: #002f4b;
  $transparency-top: .4;
  $image-gradient-color-bottom: #fcfaff;
  $transparency-bottom: .6;
  $vertical-angle: 180deg;

  $image-gradient-color-left: rgba(0, 0, 0, 0.38);
  $transparency-left: .6;
  $image-gradient-color-right: #5a5a5a;
  $transparency-right: .6;
  $horizontal-angle: 90deg;
  overflow: hidden;
  position: relative;
  line-height: 0;
  width: 100%;

  img {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
  }

  .copy {
    position: absolute;
    top: 45%;
    left: 45%;
    margin: auto;
    z-index: 999;
    text-align: left;
    @include transform(translate(0%, -50%));

    h1, h2, h3, p {
      font-size: 1.1em;
      line-height: 1.5em;
      position: relative;
      color: white;
      font-weight: 300;
    }
    h1{
      width: 70%;
    }
    h2{
      padding: 1em 0 0 1em;
    }
    h3{
      padding: 1em 0 0 2em;
    }
  }

  .overlay {
    @include linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top),
            transparentize($image-gradient-color-bottom, $transparency-bottom));
    display: block;
    @include position(absolute, 0px 0px 0px 45%);
    @include transform(skew(15deg));

    width:75%;

    &:after {
      content: '';
      @include linear-gradient($horizontal-angle, transparentize($image-gradient-color-left, $transparency-left),
              transparentize($image-gradient-color-right, $transparency-right));
      display: block;
      @include position(absolute, 0px 0px 0px 0px);

    }
  }
}


