@import "neat-helpers";
// Bourbon Neat outer-container max-device-width
$max-width: 2600px;

$cinemadisplay-min-width:2400px;
$largedesktop-max-width:2399px;
$largedesktop-min-width:2001px;
$meddesktop-max-width:2000px;
$meddesktop-min-width:1400px;
$desktop-max-width:1399px;
$desktop-min-width:1026px;
$ipad-max-width:1025px;
$ipad-min-width:767px;
$smalltablet-max-width:766px;
$smalltablet-min-width:551px;
$largemobile-max-width: 550px;
$largemobile-min-width:319px;
$sabre-pyramid:1337px;

// Bourbon Neat Breakpoints
$largemobile: new-breakpoint(min-width $largemobile-min-width, 12);
$smalltablet: new-breakpoint(min-width $smalltablet-min-width, 12);
$tablet: new-breakpoint(min-width $ipad-min-width, 12);
$desktop: new-breakpoint(min-width $desktop-min-width, 12);
$meddesktop: new-breakpoint(min-width $meddesktop-min-width, 12);
$largedesktop: new-breakpoint(min-width $largedesktop-min-width, 12);
$cinemadisplay: new-breakpoint(min-width $cinemadisplay-min-width,  12);

// Specific device targeting
$ipad: new-breakpoint(min-width $ipad-min-width max-device-width $ipad-max-width, 12);
