@import "normalize";
@import "bourbon";
@import "bitters/bitters";
@import "neat";
@import "gridsettings";
@import "components";
@import "swiper";
html, body { height: 100%; width: 100%; margin: 0; overflow-x: hidden; }
body{
	@include outer-container;
  
}
.intro{
  height: 300px;
}
.wrapper{
  @include span-columns(6);
  @include shift(3);
}
$cardscale:0.37;
$largemobile-cardscale:0.5;
$smalltablet-cardscale:0.8;
$ipad-cardscale:0.8;
$desktop-cardscale:1;
$largedesktop-cardscale:1;
.project{
  


}
.issflyby{
  background-image: url(san_rafael.jpg);
  color: #fff;
  background-size: cover;
  background-attachment: fixed;
  padding: 2em 0;
  h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 100; 
    @include media($desktop) {
      font-size: $base-font-size*4;
      text-align: left;
      padding: 0.5em 0.5em 0.25em 0.5em;
    }
    
  }
  h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 100; 
    padding: 0 1em;
    @include media($desktop) {
      font-size: $base-font-size*2;
      text-align: left;
    }
    
  }
}
.description{ 
  width:640px*$cardscale;
  @include media($largemobile) {
    font-size:1em;
    width:640px*$largemobile-cardscale;
  }
  @include media($smalltablet) {
    font-size:1.5em;
    width:640px*$smalltablet-cardscale;
  }
  @include media($ipad) {
    font-size:1.7em;
    width:640px*$ipad-cardscale;
  }
  @include media($desktop) {
    font-size:1.5em;
    width:640px*$largedesktop-cardscale;
  }

}
.glasscard{

  background-color: transparentize(#fff, 0.9);
  width: 640px*$cardscale;
  height: 360px*$cardscale;
  margin: 1em auto 0;
  @include media($largemobile) {
    width:640px*$largemobile-cardscale;
    height: 360px*$largemobile-cardscale;
  }
  @include media($smalltablet) {
    width:640px*$smalltablet-cardscale;
    height: 360px*$smalltablet-cardscale;
  }
  @include media($ipad) {
    font-size:1.7em;
    margin: 1.5em auto 0;
    width:640px*$ipad-cardscale;
    height: 360px*$ipad-cardscale;
  }
  @include media($desktop) {
    width:640px*$desktop-cardscale;
    height: 360px*$desktop-cardscale;
  }
  @include media($largedesktop) {
    width:640px*$largedesktop-cardscale;
    height: 360px*$largedesktop-cardscale;
  }

  img{width:37.5%; height:100%;float: left;}
  p{
    float: right; 
    font-family: 'Roboto', sans-serif; 
    font-weight: 100; 
    font-size: 1em;
    color: #fff; 
    width: 62%;
    padding: 0.8em;
    text-align: left;
    @include media($largemobile) {
      font-size: 1.3em;
      padding: 0.5em;
    }
    @include media($smalltablet) {
      font-size:2em;
    }
    @include media($ipad) {
      font-size:1.2em;
      padding: 0.5em;
    }
    @include media($desktop) {
      font-size:2em;
      line-height: 1.25em;
      padding: 1.5em 0.5em 0.5em 0.5em;
    }
  }
  footer{
    font-family: 'Roboto', sans-serif; 
    bottom:0; 
    right: 0; 
    position: absolute;
    width: 62%; 
    font-size: 0.7em; 
    font-weight:300;
    padding: 0 0.6em 0.6em 0.6em;
    @include media($largemobile) {
      font-size: 0.9em; 
    }
    @include media($smalltablet) {
      font-size:1.2em;
    }
    @include media($ipad) {
      font-size:0.8em;
    }
    @include media($desktop) {
      font-size:1.2em;
    }
  }
  a{color:#fff; font-size:0.7em;}
  .source{float:left;}
  .time{float:right;}
  .twitter_icon{width:17%; padding: 0.6em 0.3em 0 0;}
}

.swiper-container {
  width: 100%;
  height: 220px;
  color: #fff;
  text-align: center;
  @include media($largemobile) {
    height: 450px;
  }
  @include media($smalltablet) {
    height:395px;
  }
  @include media($ipad) {
    height:420px;
  }
  @include media($desktop) {
    height:725px;
    max-height: 750px;
  }

}
.swiper-wrapper{
  @include media($largemobile) {
    height: 350px;
  }
  @include media($desktop) {
      max-height:405px;
      padding: 2em 0 0 0;
  }
}
.inner{
  @include media($largemobile) {
    display:none;
  }
  @include media($smalltablet) {
    display:none;
  }
  .glasscard{
    @include media($ipad) {
      font-size:1.7em;
      margin: 0 auto;
      width:640px*$largemobile-cardscale;
      height: 360px*$largemobile-cardscale;
        p{
          font-size: 0.7em;
          padding: 0.4em;
        }
        footer{
          font-size: 0.5em; 
        }
    }
    @include media($desktop) {
      font-size:1.7em;
      margin: 0 auto;
      width:640px*$largemobile-cardscale;
      height: 360px*$largemobile-cardscale;
        p{
          font-size: 0.7em;
          padding: 0.4em;
        }
        footer{
          font-size: 0.5em; 
        }
    }
  }

}
.swiper-slide {
  opacity: 0.4;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  &:last-of-type{
    padding-left:0.5em;
    .description{
      padding-left:2.5em;
      @include media($largemobile) {
        padding-left:0em;
      }
      @include media($ipad) {
        padding-left:0em;
      }
      @include media($desktop) {
        padding-left:0em;
      }
    }

  }
}
.swiper-slide-visible {
  opacity: 0.5;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.swiper-slide-active {
  top: 0;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.pagination {
  z-index: 200;
  left: 0px;
  width: 100%;
  text-align: center;
  margin: 0.3em 0;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 8px;
  background: #aaa;
  margin-right: 8px;
  cursor: pointer;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  opacity: 0;
  position: relative;
  top: -50px;
}
.swiper-visible-switch {
  opacity: 1;
  top: 0;
  background: #aaa;
}
.swiper-active-switch {
  background: #fff;
}
.personaloptics{
  @include span-columns(12);
  padding:2em;
  header{@include span-columns(6 of 12);}
  img{@include span-columns(3 of 12); @include shift(1);}
}